<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        <br>
        <br>
        <!-- Login Form -->
        <form>
            <p>Please Enter Your Email to set new password</p>
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Enter your Email">
            <input type="submit" class="fadeIn fourth" value="Send">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/login">Back to login?</a>
        </div>

    </div>
</div>
