body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}





/*------------------------------------*/
.select-editable {
  position:relative;
  background-color:white;
  border:solid grey 1px;
  width:120px;
  height:18px;
}
.select-editable select {
  position:absolute;
  top:0px;
  left:0px;
  font-size:14px;
  border:none;
  width:120px;
  margin:0;
}
.select-editable input {
  position:absolute;
  top:0px;
  left:0px;
  width:100px;
  padding:1px;
  font-size:12px;
  border:none;
}
.select-editable select:focus, .select-editable input:focus {
  outline:none;
}



/* Styles for wrapping the search box */

.main {
  width: 50%;
  margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}