@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
    background-color: #545454;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.container {
    height: 80vh;
}

.card {

    width: 400px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    position: relative;
    height: 452px;
}

.upper {

    background-color: #007BFF;
    height: 265px;
    border-radius: 15px;
    z-index: 10;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accounts {

    width: 310px;
    height: 212px;
    background-color: #fff;
    position: absolute;
    top: 207px;
    border-radius: 12px;
    left: 9%;
    z-index: 12;
    padding: 15px;


}


.down {

    background-color: #dae0ef;
    height: 200px;
    border-radius: 15px;
    margin-top: -14px;

}

.box {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.dots {

    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    background-color: rgb(255, 123, 0);
}

.subscribe {
    margin-top: 20px;
    height: 100px;
    background-color: #f4f6fa;
    border-radius: 10px;
    padding: 12px;
}

.subscribe span {

    font-size: 15px;

}

.subscribe a {

    text-decoration: none;
    color: #534ff8;
}