<div class="container rounded bg-white mt-1 mb-1">
    <div class="row">
        <div class="col-md-2 border-right">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class=" justify-content-between align-items-center">
                    <h3 class="text-right">Add User</h3>
                </div>
                <img class="rounded-circle mt-3" width="150px" src="../../../../../assets/img/pixel blue.jpg" />
                <br />
                <span class="font-weight-bold">Pixel Electric Company Ltd.</span><span class="text-black-50">Miazi
                    Manjil, Tusardhara, Sector-3, Road-3, Kadamtali Thana,
                    Dhaka-1362</span><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form [formGroup]="userForms" (ngSubmit)="userinsert()">
                <div class="p-3 py-5">

                    <!-- <div class="row mt-2">
                                          <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                                          class="form-control" placeholder="first name" value=""></div>
                                          <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                                          class="form-control" value="" placeholder="surname"></div>
                                  </div> -->
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">User Name</label><input type="text" class="form-control"
                                placeholder="enter User name" value="" formControlName="username" />
                        </div>

                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                class="form-control" placeholder="enter address line 1" value=""></div>
                        <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text"
                                class="form-control" placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text"
                                class="form-control" placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text"
                                class="form-control" placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value=""></div>

                        <div class="col-md-12">
                            <label class="labels">Role</label>
                            <select class="form-control" formControlName="role">
                                <option value="" selected>Select Role</option>
                                <option *ngFor="let role of allRole" [value]="role.id">
                                    {{ role.name }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="col-md-12">
                    <label class="labels">Email ID</label><input type="text" class="form-control"
                        placeholder="enter email id" value="" formControlName="email" />
                </div>

                <div class="col-md-12">
                    <label class="labels">Phone</label><input type="text" class="form-control" placeholder="Phone"
                        value="" formControlName="phone" />
                </div>
                <div class="col-md-12">
                    <label class="labels">Experience in Accounts</label><input type="text" class="form-control"
                        placeholder="experience" value="" />
                </div>
                <br />
                <div class="col-md-12">
                    <label class="labels">Additional Details</label><input type="text" class="form-control"
                        placeholder="additional details" value="" />
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Password</label><input type="password" class="form-control"
                            placeholder="Enter Passwords" value="" formControlName="password" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Retype Password</label><input type="password" class="form-control"
                            placeholder="Enter Passwords" value="" />
                    </div>

                    <div class="col-md-12">
                        <label class="labels">Image</label><input type="file" class="form-control" value=""
                            placeholder="state" formControlName="image" (change)="CreateBase64String($event)" />
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">
                        Save Employee
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
