<div class="col-md-12">
    <div class="row text-center">
        <div class="text-center">
            <nav aria-label="breadcrumb" class="bg-body rounded-3 p-3">
                <ol class="breadcrumb mb-0" style="margin-left: 40%">
                    <li class="breadcrumb-item active text-center margin-0" aria-current=" page">
                        <b>Enter Closing Amounts</b>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- " -->
    <form [formGroup]="balanceSheetForm" (ngSubmit)="saveBalanceSheet()">
        <div class="p-3">
            <div class="row mt-2">
                <div class="col-md-3">
                    <label class="labels">Opening Balance <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Enter Opening Balance" formControlName="openingBalance" />
                </div>
                <div class="col-md-3">
                    <label class="labels">Deposit <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Enter Deposit" formControlName="deposit" />
                </div>
                <div class="col-md-3">
                    <label class="labels">Expenditure <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Enter Expenditure" formControlName="expenditure" />
                </div>
                <div class="col-md-3">
                    <label class="labels">Total Balance <span class="text-danger">*</span></label>
                    <input class="form-control" placeholder="Total Balance" formControlName="totalBalance" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-4 text-center">
                        <button class="btn btn-primary profile-button" type="submit">
                            Save Balance
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="container mt-1">
        <div class="row text-center">
            <div class="text-center">
                <nav aria-label="breadcrumb" class="bg-body rounded-3 p-3">
                    <ol class="breadcrumb mb-0" style="margin-left: 40%">
                        <li class="breadcrumb-item active text-center margin-0" aria-current=" page">
                            <b>Balance Sheet History</b>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <table class="table table-borderless table-responsive card-1 p-4 border">
            <thead>
                <tr class="border-bottom bg-gray">
                    <th>
                        <span class="ml-2">SL</span>
                    </th>
                    <th>
                        <span class="ml-2">Date</span>
                    </th>
                    <th>
                        <span class="ml-2">Opening Amount</span>
                    </th>
                    <th>
                        <span class="ml-2">Deposit Amount</span>
                    </th>
                    <th>
                        <span class="ml-2">Expenditure Amount</span>
                    </th>
                    <th>
                        <span class="ml-2">Total Balance</span>
                    </th>
                    <th>
                        <span class="ml-4">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let value of balanceSheet; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{value.dateTime}}</td>
                    <td>{{value.openingBalance}}</td>
                    <td>{{value.deposit}}</td>
                    <td>{{value.expenditure}}</td>
                    <td>{{value.totalBalance}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
