<div class="container rounded bg-white mt-2 mb-1">
  <div class="row">
    <div class="col-md-5 border-right">
      <div id="accordion">
        <div class="card mt-2">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Add Role
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body">
              <!-- [formGroup]="purposeForm" (ngSubmit)="savePurpose()" -->
              <form>
                <div class="p-3 py-1">
                  <div class="row mt-1">
                    <div class="col-md-12">
                      <label class="labels">Role Name</label
                      ><input
                        type="text"
                        class="form-control"
                        placeholder="Enter role name"
                        value=""
                        formControlName="role"
                      />
                    </div>
                  </div>
                  <div class="mt-2 text-center">
                    <button
                      class="btn btn-primary profile-button"
                      type="submit"
                    >
                      Add Role
                    </button>
                    <span>||</span>
                    <button
                      class="btn btn-primary profile-button"
                      type="submit"
                    >
                      View Role
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Set New Password
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              <form>
                <div class="p-3 py-1">
                  <div class="row mt-1">
                    <div class="col-md-12">
                      <label class="labels">Type New Password</label
                      ><input
                        type="password"
                        class="form-control"
                        placeholder="Type New Password"
                        value=""
                        formControlName="role"
                      />
                    </div>
                    <div class="col-md-12">
                      <label class="labels">Retype Password</label
                      ><input
                        type="password"
                        class="form-control"
                        placeholder="Retype Password"
                        value=""
                        formControlName="role"
                      />
                    </div>
                  </div>
                  <div class="mt-2 text-center">
                    <button
                      class="btn btn-primary profile-button"
                      type="submit"
                    >
                      Set Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Check Dropdown
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body">
              <h3>Using HTML5</h3>
              <input list="browsers" name="browser" />
              <datalist id="browsers">
                <option value="Internet Explorer"></option>
                <option value="Firefox"></option>
                <option value="Chrome"></option>
                <option value="Opera"></option>
                <option value="Safari"></option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-3 py-5"></div>
    </div>
  </div>
</div>
