<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Deposit and Expenditure</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container-fluid">
    <!-- <div class="row">
            <div class="col-lg-3 col-6">
               
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>1506879 <span>৳</span> </h3>
                        <p>Starting Balance</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53576878 <span>৳</span></h3>

                        <p>Remaining Balance</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">
                
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>4434476 <span>৳</span></h3>

                        <p>Deposit</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-6">

                <div class="small-box bg-danger">
                   <div class="inner">
                        <h3>65457567 <span>৳</span></h3>

                        <p>Expenditure</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div> -->
    <div class="row">
      <div class="col-md-3">
        <div class="card-counter primary">
          <i class="fa-solid fa-money-check-dollar"></i>
          <span class="count-numbers">1243567&ensp;৳</span>
          <span class="count-name">Opening Balance</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter danger">
          <i class="fa-solid fa-circle-xmark"></i>
          <span class="count-numbers">59934&ensp;৳</span>
          <span class="count-name">Total Expenditure</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter success">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          <span class="count-numbers">6875457&ensp;৳</span>
          <span class="count-name">Total Deposit</span>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card-counter info">
          <i class="fa-solid fa-plus-minus"></i>
          <span class="count-numbers">355678&ensp;৳</span>
          <span class="count-name">Remaining Balance</span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<br />

<div class="container bg-body" style="padding: 10px; border-radius: 10px">
  <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">Reports and Information</h1>
            </div>
        </div>
    </div>
    <br>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6 ">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">

                            <h3>150</h3>
                            <p>Deposit History</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-social-bitcoin-outline"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>



    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>150</h3>

                            <p>Deposit Today</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-social-bitcoin-outline"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add p-1"></i>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box shadow rounded">
                        <div class="small-box-footer bg-primary p-1 rounded-bottom">Deposit Today
                        </div>
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>
-->
  <section class="pricing-section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <div class="section-title text-center title-ex1">
            <h2>Daily Transection</h2>
          </div>
        </div>
      </div>
      <!-- Pricing Table starts -->
      <div class="row">
        <div class="col-md-4">
          <div class="price-card">
            <h2>Depost History</h2>
            <ul class="pricing-offers">
              <table class="table">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Purpose</th>
                    <th>Ammounts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deposit of allDeposit; let i = index">
                    <ng-container *ngIf="i > allDeposit.length - 4">
                      <td>{{ i + 1 }}</td>
                      <td>{{ deposit.purpose.purpose }}</td>
                      <td>{{ deposit.deposit_amount }}</td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Total</td>
                    <td>679809068</td>
                  </tr>
                </tbody>
              </table>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="price-card featured">
            <h2>Expenditure History</h2>
            <ul class="pricing-offers">
              <table class="table">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Purpose</th>
                    <th>Ammounts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let expenditure of allExpenditure; let j = index">
                    <ng-container *ngIf="j > allDeposit.length - 4">
                      <td>{{ j + 1 }}</td>
                      <td>{{ expenditure.purpose.purpose }}</td>
                      <td>{{ expenditure.payment_amount }}</td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Total</td>
                    <td>686798098</td>
                  </tr>
                </tbody>
              </table>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="price-card">
            <h2>Transection Overview</h2>
            <ul class="pricing-offers">
              <table class="table">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>Section</th>
                    <th>Ammounts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Opening</td>
                    <td>3475878</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Deposit</td>
                    <td>3475878</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Expenditure</td>
                    <td>35566576</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Remaining</td>
                    <td>363745767</td>
                  </tr>
                </tbody>
              </table>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
